/*  your css code here. If applicable */
.container::before {
  content: "Before Element";
  font-weight: "bold";
  color:"red";
}

.container::after {
  content: "After Element";
  font-weight: "bold";
  color: "red";
}